
/* Smartphones */
@media(max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.5rem;
  }

  /* Intro section */
  #intro .intro-content {
    top: 110px;
  }

  /* Contact */
  #contact .contact-img {
    display:none;
  }

   /* Contact */
   #about .about-img {
    display:none;
  }
}