
/* Smartphones */
@media(max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.5rem;
  }

  /* Intro section */

  #intro .intro-content {
    
    position: relative;
    
  }
  /* Portfolio */
  #portfolio .items {
    flex-direction:column;
  }


  /* Contact */
  #contact .contact-img {
    display:none;
  }

   /* Contact */
   #about .about-img {
    display:none;
  }
}

@media(max-height: 500px) {
  #intro .intro-content {
    margin-top: -2rem;
  
  }

  .l-heading {
    font-size: 3rem;
  }

  .lead {
    font-size: 1rem;
  }
}

@media(max-width : 400px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.5rem;
  }

}
